# Use LF for text files on every platform; leave binary files unchanged.
* text=auto eol=lf

# Generated text files always use LF.
src/generated/**/.cache/cache text eol=lf
src/generated/**/*.json text eol=lf
*.zip filter=lfs diff=lfs merge=lfs -text
